@-webkit-keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0;
        text-shadow: none
    }

    10.1% {
        opacity: 1;
        text-shadow: none
    }

    10.2% {
        opacity: 0;
        text-shadow: none
    }

    20% {
        opacity: 0;
        text-shadow: none
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .25)
    }

    20.6% {
        opacity: 0;
        text-shadow: none
    }

    30% {
        opacity: 0;
        text-shadow: none
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    30.6% {
        opacity: 0;
        text-shadow: none
    }

    45% {
        opacity: 0;
        text-shadow: none
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    55.1% {
        opacity: 0;
        text-shadow: none
    }

    57% {
        opacity: 0;
        text-shadow: none
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .35)
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .35)
    }

    60.1% {
        opacity: 0;
        text-shadow: none
    }

    65% {
        opacity: 0;
        text-shadow: none
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .35), 0 0 100px rgba(255, 0, 0, .1)
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .35), 0 0 100px rgba(255, 0, 0, .1)
    }

    75.1% {
        opacity: 0;
        text-shadow: none
    }

    77% {
        opacity: 0;
        text-shadow: none
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .4), 0 0 110px rgba(255, 0, 0, .2), 0 0 100px rgba(255, 0, 0, .1)
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .4), 0 0 110px rgba(255, 0, 0, .2), 0 0 100px rgba(255, 0, 0, .1)
    }

    85.1% {
        opacity: 0;
        text-shadow: none
    }

    86% {
        opacity: 0;
        text-shadow: none
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .6), 0 0 60px rgba(255, 0, 0, .45), 0 0 110px rgba(255, 0, 0, .25), 0 0 100px rgba(255, 0, 0, .1)
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .6), 0 0 60px rgba(255, 0, 0, .45), 0 0 110px rgba(255, 0, 0, .25), 0 0 100px rgba(255, 0, 0, .1)
    }
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0;
        text-shadow: none
    }

    10.1% {
        opacity: 1;
        text-shadow: none
    }

    10.2% {
        opacity: 0;
        text-shadow: none
    }

    20% {
        opacity: 0;
        text-shadow: none
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .25)
    }

    20.6% {
        opacity: 0;
        text-shadow: none
    }

    30% {
        opacity: 0;
        text-shadow: none
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    30.6% {
        opacity: 0;
        text-shadow: none
    }

    45% {
        opacity: 0;
        text-shadow: none
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .45), 0 0 60px rgba(255, 0, 0, .25)
    }

    55.1% {
        opacity: 0;
        text-shadow: none
    }

    57% {
        opacity: 0;
        text-shadow: none
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .35)
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .35)
    }

    60.1% {
        opacity: 0;
        text-shadow: none
    }

    65% {
        opacity: 0;
        text-shadow: none
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .35), 0 0 100px rgba(255, 0, 0, .1)
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .35), 0 0 100px rgba(255, 0, 0, .1)
    }

    75.1% {
        opacity: 0;
        text-shadow: none
    }

    77% {
        opacity: 0;
        text-shadow: none
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .4), 0 0 110px rgba(255, 0, 0, .2), 0 0 100px rgba(255, 0, 0, .1)
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .55), 0 0 60px rgba(255, 0, 0, .4), 0 0 110px rgba(255, 0, 0, .2), 0 0 100px rgba(255, 0, 0, .1)
    }

    85.1% {
        opacity: 0;
        text-shadow: none
    }

    86% {
        opacity: 0;
        text-shadow: none
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .6), 0 0 60px rgba(255, 0, 0, .45), 0 0 110px rgba(255, 0, 0, .25), 0 0 100px rgba(255, 0, 0, .1)
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 0, 0, .6), 0 0 60px rgba(255, 0, 0, .45), 0 0 110px rgba(255, 0, 0, .25), 0 0 100px rgba(255, 0, 0, .1)
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.glitch {
    animation: glitch 1s linear infinite;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

.glitch:before,
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
}

.glitch:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

.glitch:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}