---
layout: default
---


<div class="header-container animated animatedFadeInUp fadeInUp">
    <div class="header-title animated animatedFadeInUp fadeInUp">
        <div class="glitch" data-text="The">
        <span class="half-bg">The <span id="pulseSpan" style="font-family: Raskhal;">PULSE</span></span>
        </div>
    </div>
    <div class="header-subtitle animated animatedFadeInUp fadeInUp">
        <div class="glitch" data-text="Of Night City">
        <span class="half-bg">Of Night City</span>
        </div>  
    </div>
</div>
<div class="fade-in vert-line vert-line-left" ></div>
<div class="fade-in vert-line vert-line-right" ></div>
<div class="fade-in articles-container">
    {{ content }}
</div>
